@model IEnumerable<AzureStorage.RecordEntity>

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> @ViewBag.T1 </td>
            <td> @Html.ActionLink("Add Blood Pressure", "AddBP") </td>
        </tr>

        <tr>
            <td> @ViewBag.T2 </td>
            <td> @Html.ActionLink("Add Weight", "AddW") </td>
        </tr>

        <tr>
            <td class="well"> @Html.ActionLink("View Details of my records", "Details") </td>
        </tr>
    </tbody>

@*@if (Model != null)
{
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
}*@


</table>
